.tag {
  display: flex;
  margin: 0px 5px 0px 0px;
  padding: 10px;
  background-color: lightseagreen;
  border-radius: 10px;
  font-size: 0.8rem;
  color: #FFF;
  width: fit-content;
  height: 30px;
  align-items: center;
  cursor: pointer;
}

.delete-tag {
  width: 15px;
  height: 15px;
  background-color: black;
  margin: 5px 0px 5px 5px;
  font-size: 0.5rem;
}