#main-container {
  display: grid;
  grid-template-columns: 1fr 500px;
  height: 100vh;
}

#search-container {
  padding: 20px;
  flex-direction: column;
}

#search-input {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #CCC;
  font-size: 1.5rem;
}

#search-result {
  margin-top: 20px;
}